@import './styles/variable';
@import './styles/normalize';
@import './styles/default';
@import './styles/font';

body {
	min-height: 100vh;

	font-family: $f-geo;
	font-size: 14px;
	letter-spacing: .4px;
	align-items: center;
	background-color: $borderwhite;
}

#root {
	overflow: hidden;
	position: relative;
	z-index: 1;

	height: 100vh;
	width: 100vw;

	opacity: 0;
	transition: opacity .7s;

	&.is-ready {
		opacity: 1;
	}
}

#loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;

	opacity: 0;
	transition: opacity .3s;

	&.is-active {
		opacity: 1;
	}
}

@media print {
	@page {
		size: A4 portrait;
		  margin: 0;
	}
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: $greysolid;
}

::-webkit-scrollbar-thumb {
    background-color: $borderblack;
}
// @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
// 	html {
// 		transform: rotate(-90deg);
// 		transform-origin: left top;
// 		width: 100vh;
// 		overflow-x: hidden;
// 		position: absolute;
// 		top: 100%;
// 		left: 0;
// 	}
//
// 	#root {
// 		height: 100vw;
// 		width: 100vh;
// 	}
// }
