section#loader.is-active(centering style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;")
	svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64" height="64" viewBox="0 0 100 100" style="transform-origin: 50px 50px 0px;" xml:space="preserve")
		g(style="transform-origin: 50px 50px 0px;")
			g(style="fill: rgb(0, 0, 0); transform-origin: 50px 50px 0px; transform: scale(0.6);")
				g(style="transform-origin: 50px 50px 0px;")
					g(style="fill: rgb(0, 0, 0);")
						g(class="ld ld-breath" style="transform-origin: 50px 50px 0px; animation-delay: -0.923077s; animation-direction: normal;")
							path(d="M6.8,36c-1.9,1.1-3.1,3.1-3.1,5.3c0,0.5,0.1,1.1,0.2,1.6c0.2,0.9,0.7,1.7,1.3,2.4c1.6,1.8,4.2,3,6.1,4.6     c2,1.7,3.8,3.7,5.2,6c2.8,4.8,3,10.8,3,16v16.1c0,0.5-0.6,0.7-0.9,0.4c-5.4-4.7-9.8-10.4-12.9-17c-0.1-0.1-0.1-0.3-0.1-0.5V60.4     v-5.9c0-3.2-0.7-6.5-2.1-9.4c-0.3-0.5-0.5-1.1-0.8-1.6c-0.7-1.2-0.9-2.6-0.6-3.9c2.3-11.1,8.3-20.9,16.6-28     c0.4-0.3,0.9,0,0.9,0.4v3.7c0,1.8-0.3,3.7-0.7,5.5C17.2,27.6,12.6,32.5,6.8,36z")
						g(class="ld ld-breath" style="transform-origin: 50px 50px 0px; animation-delay: -0.846154s; animation-direction: normal;")
							path(d="M34.6,61.4c-1.9,1.1-3.1,3.1-3.1,5.3c0,0.5,0.1,1.1,0.2,1.6c0.2,0.9,0.7,1.7,1.3,2.4c1.6,1.8,4.2,3,6.1,4.6     c2,1.7,3.8,3.7,5.2,6c2.8,4.8,3,10.8,3,16v2.2c0,0.5-0.4,0.9-0.9,0.8c-4.3-0.4-8.5-1.4-12.5-2.8c-0.3-0.1-0.5-0.4-0.5-0.8V85.8     v-5.9c0-3.2-0.7-6.5-2.1-9.4c-0.7-1.4-1.5-2.8-2.5-4.1c-1.9-2.5-4.2-4.3-6.8-6.2c-2.1-1.5-4-3.3-4-5.9c0-2.2,1.2-4.2,3.1-5.3 c5.8-3.5,10.1-8.4,11.6-14.7c0.4-1.8,0.7-3.7,0.7-5.5V3.4c0-0.4,0.2-0.7,0.5-0.8c3.9-1.5,8.1-2.4,12.5-2.8c0.5,0,0.9,0.3,0.9,0.8     v40.6c0,1.8-0.3,3.7-0.7,5.5C45,53,40.4,57.9,34.6,61.4z")
						g(class="ld ld-breath" style="transform-origin: 50px 50px 0px; animation-delay: -0.769231s; animation-direction: normal;")
							path(d="M62.2,0.7c4.4,1,8.6,2.5,12.5,4.6c0.3,0.1,0.4,0.4,0.4,0.7v47.8c0,1.8-0.3,3.7-0.7,5.5c-1.5,6.3-6,10.6-11.9,14.7     c-1.8,1.3-3.1,3.1-3.1,5.3c0,0.5,0.1,1.1,0.2,1.6c0.2,0.9,0.7,1.7,1.3,2.4c1.6,1.8,4.2,3,6.1,4.6c2,1.7,3.8,3.7,5.2,6     c0.2,0.3,0.3,0.6,0.5,0.9c0.2,0.4,0,0.9-0.4,1.1c-3.5,1.6-7.2,2.8-11,3.6c-0.4,0.1-0.8-0.2-1-0.6c-0.3-1-0.7-2-1.2-3     c-0.7-1.4-1.5-2.8-2.5-4.1c-1.9-2.5-4.2-4.3-6.8-6.2c-2.1-1.5-4-3.3-4-5.9c0-2.2,1.2-4.2,3.1-5.3c5.8-3.5,10.1-8.4,11.6-14.7     c0.4-1.8,0.7-3.7,0.7-5.5V1.5C61.2,1,61.7,0.6,62.2,0.7z")
						g(class="ld ld-breath" style="transform-origin: 50px 50px 0px; animation-delay: -0.692308s; animation-direction: normal;")
							path(d="M98.4,67.6c-2.3,6.2-5.7,11.8-10.1,16.5c-0.3,0.3-0.8,0.2-0.9-0.2c-2-5-6.1-8.9-11-11.9c-1.9-1.1-3.1-3.1-3.1-5.3     c0-2.6,1.9-4.4,4-5.9c2.6-1.9,5.2-3.7,7.1-6.2c1-1.3,1.8-2.6,2.5-4.1c1.4-2.9,2.1-6.2,2.1-9.4v-5.9V18.2c0-0.5,0.7-0.8,1-0.4     c4.5,5.4,7.9,11.8,9.8,18.8c0.5,1.8,0.1,3.7-1,5.1c-1.2,1.6-2.5,3-4,4.2c-1.9,1.6-4.5,2.8-6.1,4.6c-0.6,0.7-1.1,1.5-1.3,2.4     c-0.1,0.5-0.2,1.1-0.2,1.6c0,2.2,1.2,4.2,3.1,5.3c3.1,1.9,5.8,4.1,7.9,6.7C98.5,66.8,98.6,67.2,98.4,67.6z")
		style(type="text/css").
			path,ellipse,circle,rect,polygon,polyline,line { stroke-width: 0; }
			@keyframes ld-breath { 0% { -webkit-transform: scale(0.66); transform: scale(0.66); } 50% { -webkit-transform: scale(.96); transform: scale(.96); } 100% { -webkit-transform: scale(0.66); transform: scale(0.66); } }
			@-webkit-keyframes ld-breath { 0% { -webkit-transform: scale(0.66); transform: scale(0.66); } 50% { -webkit-transform: scale(.96); transform: scale(.96); } 100% { -webkit-transform: scale(0.66); transform: scale(0.66); } }
			.ld.ld-breath { -webkit-animation: ld-breath 1s infinite; animation: ld-breath 1s infinite; }
