$primary: #986C79;
// $secondary =
// $tertiary =
$white: #fff;
$white1: rgb(255, 255, 255);
$black: #000;
$black1: rgb(39, 39, 43);
$black2: rgba(15, 15, 20, 0.8);
$black3: rgba(39, 39, 43, 0.6);
$blackmate: rgba(15, 15, 20, 0.6);

$yellow: #FFBF00;
$blue: #0068FF;
$red: rgb(252, 63, 61);
$greysolid: #dfe3e8;

$bgwhite: rgb(249, 250, 251);

$borderblack: rgba(15, 15, 41, 0.2);
$borderwhite: rgb(244, 246, 248);
$bgborder: rgb(249, 250, 251);

$f-geo: 'Geomanist', sans-serif;

@function dilute($color, $alpha) {
  @return rgba($color, $alpha)
}
